<br />
<div class="booyah-box col-10 offset-1">
  <h1>Edit Barber Info</h1>
  <br />
  <%= simple_form_for @barber, url: barber_barber_path(@barber), method: :put do |f| %>
    <%= f.input :profile_picture %>
    <%= f.input :name %>
    <%= f.input :phone_number %>
    <%= f.input :zip_code %>
    <%= f.input :barber_bio %>
    <%= f.input :booking_site_url %>
    <%= f.submit "Update Barber Profile", class: 'btn btn-primary' %>
  <% end %>
  <br />
</div>
<br />