<br />
<div class="booyah-box col-10 offset-1">
  <h1>Become A Barber</h1>
  <br />
  <%= simple_form_for @barber, url: barber_barbers_path do |f| %>
    <%= f.input :profile_picture %>
    <%= f.input :name %>
    <%= f.input :phone_number %>
    <%= f.input :zip_code %>
    <%= f.input :barber_bio %>
    <%= f.input :booking_site_url %>
    <p><b>Trimr</b> is powered in part by <%= link_to 'Square Appointments', 'https://squareup.com/us/en/appointments' %>. Sign up for your <i>free</i> account, set your availability and services, then paste your <%= link_to 'Booking Site URL', 'https://squareup.com/appointments/booking' %> here.</p>
    <%= f.submit "Become a Barber", class: 'btn btn-primary' %>
  <% end %>
  <br />
</div>
<br />