<br />
<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= @barber.name %></h1>
  <p><b>Bio:</b> <%= @barber.barber_bio %></p>
  <p><b>Phone:</b> <%= @barber.phone_number %></p>
  <p><b>Zip Code:</b> <%= @barber.zip_code %></p>
  <p><b>Pricing:</b></p>
  <% @barber.haircuts.each do |haircut| %>
    <hr />
    <p><%= haircut.haircut_name %> - $<%= haircut.cost %></p>
    <p><%= haircut.description %></p>
  <% end %>
  <hr />
  <%= link_to "Add Haircut", barber_barber_haircuts_path(@barber), class: 'btn btn-primary' %>
  <br />
  <% if @barber.square_embed_code %>
    <%= @barber.square_embed_code %>
  <% end %>
  <br />
</div>
<br />